{% extends 'website/frontend/frontend_base.html' %}
{% load staticfiles %}

{% block title %}
    了解我
{% endblock %}

{% block external_header %}

{% endblock %}

{% block left %}
    <div class="col-md-12 article">
    	<meta charset="utf-8">
        <div class="col-md-3 text-center">
            <img src="http://odblm5gk0.bkt.clouddn.com/static/image/header.jpg" alt="" class="img-circle img-responsive">
            <h3>Ryan Lee</h3>
            <p> 一个爱狗，爱DOTA2的男生</p>
        </div>
        <div class="col-md-9 personal-info">
            <h2>基本信息：</h2>
            <hr>
            <ul>
                <li><p>姓名：李文昊</p></li>
                <li><p>生日：1993年6月8日</p></li>
                <li><p>毕业学校：浙江工业大学</p></li>
                <li><p>专业：软件工程</p></li>
            </ul>
            <h2>专业技能：</h2>
            <hr>
            <ul>
                <li><p>熟悉Python，JAVA，C++，SQL等编程语言</p></li>
                <li><p>会使用Bootstrap框架，Scrapy爬虫框架，Django框架</p></li>
                <li><p>基本掌握基于MySQL和SQL Server数据库系统开发和维护</p></li>
                <li><p>会用Unity3D做点小游戏</p></li>
                <li><p><a href="https://github.com/lwh-Ryan">GitHub：lwh-Ryan，刚开始用，没什么干货</a></p></li>
                
            </ul>
            <h2>项目经历：</h2>
            <hr>
            <ul>
                <li><p>基于Scrapy框架的高校查询分析系统（毕业设计）</p></li>
                <li><p><a href="https://github.com/lwh-Ryan/ComicManagement">基于Django框架的动漫管理网站，已放在GitHub上</a></p></li>
                <li><p>基于Unity3D的打飞机小游戏，游戏开发课的大作业，找个时间整理一下把代码放到GitHub上</p></li>
                <li><p>其他拿得出手的也没什么了。。。</p></li>
            </ul>
            <h2>其他经历：</h2>
            <hr>
            <ul>
                <li><p>暂时没实习经历，毕业后努力找工作中</p></li>
            </ul>
            <h2>生活相关：</h2>
            <hr>
            <ul>
                <li><p>一个正在努力找工作的少年</p></li>
                <li><p>单身狗且爱狗</p></li>
                <li><p>喜欢看动漫，至今仍在追海贼王</p></li>
                <li><p>喜欢听歌看电影看美剧，特别喜欢姆爷的歌</p></li>
                <li><p>喜欢打篮球也喜欢看NBA，詹姆斯的小粉丝</p></li>
                <li><p>金庸，南派三叔（高中学长）的小说粉</p></li>
                <li><p>DOTA2玩家，喜爱英雄：JUGG，斯温，敌法师。STEAM平台的受害者，喜+1党。STEAM ID：日猫侠</p></li>

            </ul>
            <h2>写在最后：</h2>
            <hr>
            <h4>分享一句座右铭：</h4>
            <blockquote class="text-danger">
              <p>行百里路者半九十。</p>
            </blockquote>
            <hr>
            <img src="http://odblm5gk0.bkt.clouddn.com/static/image/1234.jpg" alt="" class="img-responsive img-thumbnail">
            <hr>
            <h4 class="text-primary ">&emsp;&emsp;&emsp;&emsp;&emsp;有条件的话真想养只萨摩耶……</h4>
        </div>
    </div>
{% endblock %}
