<footer>
	<div class=" front-footer text-white" id="footer_base">
		<meta charset="utf-8">
		<div class="container">
			<div class="row">
				<div class="col-md-7 col-xs-12">
					<br><br><br>
					<h3>感谢段艺同学提供的项目参考.</h3>
					<p>Built by Li Wenhao</p>
					<p>POWER BY <strong>Django</strong></p>
				</div>
				<div class="col-md-5 col-xs-12">
					<h2>CONTACT ME</h2>
					<ul class="list-unstyled contact-info">
						<li><i class="iconfont">&#xe69f;</i>&emsp;
							<a href="https://github.com/lwh-Ryan">lwh-Ryan</a>
						</li>
						<li><i class="iconfont">&#xe6a5;</i>&emsp;lwhryan66@gmail.com</li>
						<li><i class="iconfont">&#xe602;</i>&emsp;
							<a href="http://weibo.com/lwhRyan">忙碌的lwh</a>
						</li>
					</ul>
				</div>
				<div class="col-md-12 col-xs-12 text-center copy-right">
					<br><br>
					<p>&copy; COPYRIGHT BY lwh-Ryan 2016</p>
				</div>
			</div>
		</div>
	</div>
</footer>